.container
{
    width: 1000px;
    margin: 0 auto 50px auto;

    &.login
    {
        width: 500px;

        .panel
        {
            .body
            {
                form.standard
                {
                    > ul
                    {
                        > li
                        {
                            .field
                            {
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }

    .header
    {
        margin: 25px auto 0 auto;
        height: 50px;
        background-color: #2d2d2f;
        overflow: hidden;
        border-radius: 5px;

        h1
        {
            float: left;
            margin: 2px 35px 0 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            text-shadow: #000 0px -1px 1px;
            font-size: 18px;
            line-height: 48px;
            font-weight: bold;
            text-transform: uppercase;
        }

        ul
        {
            list-style: none;
            float: left;
            margin: 0;
            padding: 15px 0;
            overflow: hidden;

            li
            {
                float: left;
                padding: 0 15px;
                font-family: 'Lucida Grande', Verdana, sans-serif;
                font-size: 12px;
                line-height: 20px;
                font-weight: bold;
                border-left: #444444 dotted 1px;
            }

            li a
            {
                color: #999;
                text-decoration: none;
            }

            li a:hover,
            li.selected a
            {
                color: #fff;
            }

            li:first-child
            {
                border: none;
            }
        }
    }

    .panel
    {
        margin: 25px 0 0 0;

        .header
        {
            position: relative;
            height: 54px;
            border: #ccc solid 1px;
            border-radius: 5px 5px 0 0;
            background-color: #f7f7f7;
            background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f3f3));

            > .title
            {
                float: left;
                margin: 4px 0 0 15px;
                font-family: Arial, Helvetica, sans-serif;
                color: #545454;
                text-shadow: #fff 0px 1px 1px;
                font-size: 18px;
                line-height: 50px;
                font-weight: bold;
                text-transform: uppercase;
            }

            > .menu
            {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 15px;
                top: 20px;
                overflow: hidden;
            }

            > .menu li
            {
                float: left;
                padding: 0 10px;
                border-left: #bbbbbb dotted 1px;
                font-family: 'Lucida Grande', Verdana, sans-serif;
                font-size: 11px;
                line-height: 15px;
                font-weight: bold;
                text-transform: uppercase;
            }

            > .menu li:first-child
            {
                border: none;
            }

            > .menu li a
            {
                color: #666;
                text-decoration: none;
            }

            > .menu li a:hover
            {
                color: #ff5b5b;
            }
        }

        .body
        {
            padding: 10px 25px 25px 25px;
            background-color: #fff;
            border-color: #ccc;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-radius: 0 0 5px 5px;

            h2
            {
                margin: 25px 0 10px 0;
                font-family: "Lucida Grande", Verdana, sans-serif;
                color: #666;
                font-size: 16px;
                line-height: 120%;
            }

            > table
            {
                width: 100%;
                font-family: "Lucida Grande", Verdana, sans-serif;
                color: #666;
                font-size: 12px;
                line-height: 14px;

                tr th
                {
                    font-weight: bold;
                    text-align: left;
                }

                tr th,
                tr td
                {
                    padding: 10px;
                    border-bottom: #ddd solid 1px;
                }

                tr:nth-child(even)
                {
                    background-color: #fbfbfb;
                }

                tr td a
                {
                    color: #ff5b5b;
                    text-decoration: none;
                }

                tr td a:hover
                {
                    text-decoration: underline;
                }
            }

            ul.table
            {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                font-family: "Lucida Grande", Verdana, sans-serif;
                color: #666;
                font-size: 12px;
                line-height: 14px;

                li
                {
                    overflow: hidden;
                    padding: 10px 0;
                    border-bottom: #ddd solid 1px;

                    &:nth-child(even)
                    {
                        background-color: #fbfbfb;
                    }

                    &.headings
                    {
                        > div
                        {
                            font-weight: bold;
                        }
                    }

                    &.ui-sortable-helper
                    {
                        background: #FFFBE9;
                        border-color: darken(#FFFBE9, 15);
                        border-style: solid;
                        border-width: 1px 0;
                    }

                    > div
                    {
                        float: left;
                        padding: 0 0 0 10px;
                        @include box-sizing(border-box);

                        &:after
                        {
                            content: ".";
                            visibility: hidden;
                        }

                        .drag_handle
                        {
                            cursor: pointer;
                            padding: 0 5px 0 0;
                        }

                        a
                        {
                            color: #ff5b5b;
                            text-decoration: none;

                            &:hover
                            {
                                text-decoration: underline;
                            }
                        }
                    }

                }
            }

            form.standard
            {
                > ul
                {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li
                    {
                        padding: 10px;
                        overflow: hidden;
                        position: relative;
                        border-bottom: #ddd solid 1px;

                        &:last-child
                        {
                            border: none;
                        }

                        .label
                        {
                            float: left;
                            width: 160px;

                            label
                            {
                                display: block;
                                padding: 8px 15px 0 0;

                                font-family: Arial, Helvetica, sans-serif;
                                color: #666;
                                font-size: 14px;
                                line-height: 120%;
                                font-weight: bold;
                                text-align: right;
                            }
                        }

                        .field
                        {
                            float: left;
                            width: 500px;

                            label.sub_label
                            {
                                display: block;
                                margin: 10px 0 3px 0;
                                font-family: Arial, Helvetica, sans-serif;
                                color: lighten(#666, 15%);
                                font-size: 12px;
                                line-height: 120%;
                                text-transform: uppercase;
                                font-weight: bold;

                                &:first-child
                                {
                                    margin-top: 5px;
                                }
                            }

                            .error_message
                            {
                                display: none;
                                padding: 5px 0 0 0;
                                color: red;
                                font-size: 12px;
                                line-height: 100%;
                                font-weight: bold;
                            }

                            input[type="text"],
                            input[type="password"]
                            {
                                @include box-sizing(border-box);
                                display: block;
                                margin: 0px;
                                padding: 0 5px;
                                width: 100%;
                                height: 30px;
                                border: #ddd solid 1px;

                                font-family: Tahoma, Geneva, sans-serif;
                                font-size: 12px;
                                line-height: 15px;
                                border-radius: 3px;

                                &.error
                                {
                                    border-color: lighten(red, 30%);
                                }
                            }

                            select
                            {
                                @include box-sizing(border-box);
                                display: block;
                                margin: 0px;
                                padding: 0 5px;
                                width: 100%;
                                height: 30px;
                                border: #ddd solid 1px;

                                font-family: Tahoma, Geneva, sans-serif;
                                font-size: 12px;
                                line-height: 25px;
                                background-color: #fff;
                                border-radius: 3px;

                                &.error
                                {
                                    border-color: lighten(red, 30%);
                                }
                            }

                            textarea
                            {
                                @include box-sizing(border-box);
                                display: block;
                                margin: 0px;
                                padding: 5px;
                                width: 100%;
                                height: 30px;
                                border: #ddd solid 1px;

                                font-family: Tahoma, Geneva, sans-serif;
                                font-size: 12px;
                                line-height: 15px;
                                border-radius: 3px;

                                &.error
                                {
                                    border-color: lighten(red, 30%);
                                }
                            }

                            .checkboxes
                            {
                                font-family: Tahoma, Geneva, sans-serif;
                                font-size: 12px;
                                line-height: 15px;

                                label
                                {
                                    margin: 0;
                                    padding: 2px 0;
                                    font-family: Tahoma, Geneva, sans-serif;
                                    color: #000;
                                    font-size: 12px;
                                    line-height: 15px;
                                    font-weight: normal;
                                    text-align: left;

                                    span
                                    {
                                        color: lighten(#000, 60%);
                                    }

                                    &:hover
                                    {
                                        background: #FFFBE9;
                                    }
                                }
                            }

                            .info
                            {
                                padding: 8px 0 5px 0;
                                font-size: 16px;
                                line-height: 120%;

                                a
                                {
                                    color: #900;
                                    text-decoration: none;

                                    &:hover
                                    {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            .photo
                            {
                                padding: 10px;
                                border-radius: 3px;
                                border: #ddd dashed 1px;

                                img
                                {
                                    display: block;
                                    max-width: 100%;
                                    height: auto;
                                    margin: 0 0 10px 0;
                                }

                                a
                                {
                                    display: inline-block;
                                    vertical-align: middle;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    margin: 0;
                                    padding: 0 10px;
                                    height: 24px;
                                    outline: 0;
                                    border: none;
                                    font-size: 12px;
                                    line-height: 24px;
                                    font-weight: bold;
                                    color: white;
                                    border-radius: 3px;
                                    background: #f9a431;
                                    overflow: hidden;

                                    &:hover,
                                    &:focus,
                                    &.qq-upload-button-focus
                                    {
                                        background: darken(#f9a431, 10%);
                                    }

                                    &:active
                                    {
                                        background: darken(#f9a431, 20%);
                                    }
                                }
                            }

                            &.photos
                            {

                                ul
                                {
                                    float: left;
                                    width: 500px;
                                    list-style: none;
                                    margin: 0;
                                    padding: 0;

                                    li
                                    {
                                        @include clearfix;
                                        margin: 0 0 10px 0;

                                        &.uploading
                                        {
                                            padding: 5px 10px;
                                            color: white;
                                            font-size: 12px;
                                            line-height: 100%;
                                            font-weight: bold;
                                            background: #9d9d9d;
                                        }

                                        img
                                        {
                                            display: block;
                                            float: left;
                                        }

                                        &.ui-sortable-helper
                                        {
                                            .tools
                                            {
                                                display: none;
                                            }
                                        }

                                        &.seperator
                                        {
                                            padding: 5px 10px;
                                            color: white;
                                            font-size: 12px;
                                            line-height: 100%;
                                            font-weight: bold;
                                            background: #e95c41;
                                        }

                                        .tools
                                        {
                                            float: left;
                                            width: 400px;
                                            margin: 0 0 0 10px;

                                            textarea
                                            {
                                                width: 400px;
                                            }

                                            button
                                            {
                                                display: inline-block;
                                                vertical-align: middle;
                                                -webkit-box-sizing: border-box;
                                                -moz-box-sizing: border-box;
                                                box-sizing: border-box;
                                                margin: 5px 0 0 0;
                                                padding: 0 4px;
                                                height: 20px;
                                                outline: 0;
                                                border: none;
                                                font-size: 12px;
                                                line-height: 100%;
                                                color: white;
                                                border-radius: 2px;
                                                background: #f9a431;
                                                overflow: hidden;

                                                &:hover,
                                                &:focus,
                                                &:active
                                                {
                                                    background: darken(#f9a431, 10%);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .buttons
                        {
                            padding: 0 0 0 160px;

                            button,
                            a
                            {
                                display: inline-block;
                                vertical-align: middle;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                margin: 0;
                                padding: 0 10px;
                                height: 30px;
                                outline: 0;
                                border: none;
                                font-size: 14px;
                                line-height: 30px;
                                font-weight: bold;
                                color: white;
                                border-radius: 3px;
                                background: #44bbd1;
                                overflow: hidden;

                                &:hover,
                                &:focus,
                                &.qq-upload-button-focus
                                {
                                    background: darken(#44bbd1, 10%);
                                }

                                &:active
                                {
                                    background: darken(#44bbd1, 20%);
                                }
                            }
                        }

                        .saved_message
                        {
                            display: none;
                            padding: 10px 0 0 160px;
                            color: green;
                            font-size: 12px;
                            line-height: 100%;
                            font-weight: bold;
                        }

                        .instructions
                        {
                            float: left;
                            width: 230px;
                            margin: 2px 0 0 15px;
                            font-size: 12px;
                            line-height: 110%;
                            color: lighten(black, 50%);
                        }
                    }
                }
            }
        }
    }
}