/*
|--------------------------------------------------------------------------
| This files includes template styles.
|--------------------------------------------------------------------------
*/

body
{
	margin: 15px;
}

.logo
{
    font-family: $font_regular;
    color: $grey;
    font-size: 45px;
    text-decoration: none;
}

nav
{
    ul
    {
        list-style: none;
        padding: 0;

        li
        {
            display: inline-block;
            margin-right: 10px;

            a
            {

                color: $red;

                &:hover
                {
                    color: darken($red, 15%);
                }
            }
        }
    }
}

a
{
    color: $blue;
    text-decoration: none;

    &:hover
    {
        text-decoration: underline;
    }
}