#team_index
{
    h2
    {
        margin: 10px 0 0 0;
        font-family: "Lucida Grande", Verdana, sans-serif;
        color: #666;
        font-size: 12px;
        line-height: 14px;
        padding: 10px;
        background-color: #fbfbfb;
        border-bottom: #ddd solid 1px;
    }

    ul
    {
        margin: 0 0 25px 0;
        padding: 10px 0 0 0;
        list-style: none;
        overflow: hidden;
        min-height: 30px;

        li
        {
            float: left;
            border: solid white 2px;
            margin: 0 8px 8px 0;

            a
            {
                display: block;
                width: 140px;
                height: 175px;
                text-decoration: none;
                position: relative;

                img
                {
                    display: block;
                    width: 140px;
                    height: 175px;
                }

                .no_photo
                {
                    width: 140px;
                    height: 175px;
                    background: lighten(black, 80%);
                }

                span
                {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 130px;
                    min-height: 15px;
                    padding: 5px;
                    font-family: "Lucida Grande", Verdana, sans-serif;
                    color: darken(#666, 10%);
                    font-size: 12px;
                    line-height: 15px;
                    background: lighten(black, 70%);
                }
            }

            &.placeholder
            {
                border-color: lighten(black, 80%);
            }

            &.ui-sortable-helper
            {
                border: none;
                height: auto !important;
                @include box-shadow(0 0 3px 2px hsla(0, 0%, 0%, 0.4));
            }
        }
    }
}